h1 {
    color: #3880ff;
    text-align: center;
  }

h2 {
    color: #0cd1e8;
    text-align: center;
  }

h3 {
    text-align: center;
  }

h4 {
    text-align: center;
    color: #ffce00;
  }

h6 {
    color: #3880ff;
    text-align: center;
  }
  
p {
  }

a:link {
    color: #3880ff;
  }
  
a:visited {
    color: #3880ff;
  }
  
a:hover {
    color: #ffce00;
  }
  
a:active {
    color: #0cd1e8;
  }

.bg_yellow {background-color: #ffce00;}

.bg-lightgrey {background-color: #d7d8da;}