

<nav class="navbar navbar-expand-lg navbar-light bg-lightc" style="background-color: #0cd1e8;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index.html">Start<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/app.html">App</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/forschung.html">Forschung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/studien.html">Studien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/team.html">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kontakt.html">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">OriGami Geo-Lernapp</h1>
        <p class="lead">für Kartenlesespiele und Rallyes.</p>
    </div>
</div>