<nav class="navbar navbar-expand-lg navbar-light bg-lightc" style="background-color: #0cd1e8;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index_en.html" hover=#ffffff>Start<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/app_en.html">App</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/forschung_en.html">Research</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kontakt_en.html#team">Team</a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a href="https://github.com/origami-team" target=_blank><img src="/pictures/socialmedia/icon_github.png" width="35" height="35"/></a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
                <a href="" target=_blank><img src="/pictures/socialmedia/icon_twitter.png" width="35" height="35"/></a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
                <a href="https://www.instagram.com/geogami_geogame/" target=_blank><img src="/pictures/socialmedia/icon_instagram.png" width="35" height="35"/></a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link" href="/index.html" hover=#ffffff>DE<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">|<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/index_en.html" hover=#ffffff>EN<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>

</nav>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <figure class="figure">
                 <img src="/pictures/logo/icon.png" class="figure-img img-fluid rounded w-100 p-3" alt=center>
            </figure>
        </div>
    </div>
</div>
